<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.4.0" targetFramework="net45" />
  <package id="Gameloop.Vdf" version="0.5.0" targetFramework="net46" />
  <package id="MaterialDesignColors" version="1.2.3" targetFramework="net45" />
  <package id="MaterialDesignThemes" version="3.1.0" targetFramework="net45" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net45" />
  <package id="System.Data.SQLite" version="1.0.112.0" targetFramework="net45" />
  <package id="System.Data.SQLite.Core" version="1.0.112.1" targetFramework="net45" />
  <package id="System.Data.SQLite.EF6" version="1.0.112.1" targetFramework="net45" />
  <package id="System.Data.SQLite.Linq" version="1.0.112.1" targetFramework="net45" />
</packages>